/dist
/swiss_r*

cube/swiss/build/
cube/swiss/dist/

cube/swiss/source/patches/*.s
cube/patches/disassembly

cube/actionreplay/SDLOADER.BIN

pc/usbgecko/swissserver
pc/usbgecko/swissserver.exe
pc/usbgecko/core
pc/usbgecko/core.*

*.dol
*.elf
*.o
*.d
*.map
*.gcm
