<filepath="boxinner.tif" id="boxinner" colfmt=0 />
<filepath="boxouter.tif" id="boxouter" colfmt=0 />
<filepath="btndevice.tif" id="btndevice" colfmt=0 />
<filepath="btnexit.tif" id="btnexit" colfmt=0 />
<filepath="btnhilight.tif" id="btnhilight" colfmt=1 />
<filepath="btninfo.tif" id="btninfo" colfmt=0 />
<filepath="btnrefresh.tif" id="btnrefresh" colfmt=0 />
<filepath="btnsettings.tif" id="btnsettings" colfmt=0 />
<filepath="checked_32.tif" id="checked_32" colfmt=0 />
<filepath="loading_16.tif" id="loading_16" colfmt=0 />
<filepath="star_16.tif" id="star_16" colfmt=0 />
<filepath="unchecked_32.tif" id="unchecked_32" colfmt=0 />